:host{
    --dark-blue:#0b0d21;
    --light-white:#fafafa;
    --light-blue:#4f7df9;
    --light-pink:#e91e63;
    --size-16:16px;
    --size-14:14px;
    --size-12:12px;

}

h1{
    font-size: 30px;
    color: aquamarine;
}
.app{
    min-height: 100vh;
    background-image: url(/sfsites/c/resource/BmiAppBackground);
    background-size: cover;
    background-repeat: no-repeat
}

.box{
    max-width: 420px;
    text-align: center;
    margin: auto;
    background: darkkhaki;
    color: var(--light-white);
    padding: var(--size-16);
    border-radius: 38px;
}

.info-wrapper{
    background: var(--dark-blue);
    padding: var(--size-16);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: var(--size-14);
    text-align: center;
}

h2{
    font-size: 26px;
    color: var(--light-pink);
}

label{
    font-size: 20px;
    color: white;

}
input{
    color: var(--dark-blue);
    padding: 8px;
    font-size: var(--size-16);

}

.custom-button{
    font-size: var(--size-16);
    padding: var(--size-12);
    background: red ;

    border-color: var(--light-pink);

}

.result-value{
    color:var(--light-blue);
    font-size: 30px;
}
